# Database Config
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=movie_booking

# JWT Config
JWT_SECRET=change_me
JWT_EXPIRATION_TIME=1d

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379